
.idea/ETH-XGaze.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
ckpt/epoch_24_ckpt.pth.tar
__pycache__/
modules/__pycache__/
example/
